---
import IconAlfr3XD from "@icons/IconAlfr3XD.astro"
import IconDiscord from "@icons/IconDiscord.astro"
import IconGithub from "@icons/IconGithub.astro"
import IconInstagram from "@icons/IconInstagram.astro"

const Navs = [
	{
		href: "#",
		label: "Home",
	},
	{
		href: "#",
		label: "Projects",
	},
	{
		href: "#",
		label: "Blogs",
	},
]
---

<header class="sticky top-0 bg-transparent py-4 backdrop-blur-[2vh]">
	<nav class="mx-auto flex max-w-7xl items-center justify-between gap-4 px-4">
		<a href="/" class="flex items-center gap-2">
			<IconAlfr3XD class="size-8" />
			<span class="text-2xl font-black"> ALFR3XD </span>
		</a>

		<ul class:list={["flex items-center gap-8", "[&_li]:block"]}>
			{
				Navs.map(({ href, label }) => (
					<li>
						<a
							href={href}
							class:list={[
								"relative flex justify-center px-2 py-4 font-medium duration-300 hover:text-primary",
								"before:absolute before:bottom-0 before:h-1 before:w-0 before:bg-primary before:duration-300 hover:before:w-full",
							]}
						>
							{label}
						</a>
					</li>
				))
			}

			<li>
				<div class="flex items-center gap-2">
					<a href="#1" target="_blank" class="px-2 py-4 duration-300 hover:text-primary">
						<IconDiscord />
					</a>
					<a href="#2" target="_blank" class="px-2 py-4 duration-300 hover:text-primary">
						<IconGithub />
					</a>
					<a href="#3" target="_blank" class="px-2 py-4 duration-300 hover:text-primary">
						<IconInstagram />
					</a>
				</div>
			</li>
		</ul>
	</nav>
</header>
