---
import { cn } from '@utils/cn';
import IconDiscord from '@icons/IconDiscord.astro'
import IconGithub from '@icons/IconGithub.astro';
import IconInstagram from '@icons/IconInstagram.astro';
import IconAlfr3XD from '@icons/iconAlfr3XD.astro';


const Navs = [
    {
        href: "#",
        label: "Home"
    },
    {
        href: "#",
        label: "Projects"
    },
    {
        href: "#",
        label: "Blogs"
    },
]
---

<header class="sticky top-0 bg-transparent backdrop-blur-[2vh] py-4">
    <nav class="mx-auto max-w-7xl px-4 flex items-center gap-4 justify-between">
        <a href="/" class="flex items-center gap-2">
            <IconAlfr3XD class="size-10"/>
            <span class="text-2xl font-black">
                ALFR3XD
            </span>
        </a>

        <ul class={cn(
            "flex items-center gap-8",
            "[&_li]:block"
        )}>
            {Navs.map(({href, label}) =>
                <li>
                    <a 
                        href={href}
                        class={cn(
                            "duration-300 flex justify-center relative px-2 py-4 hover:text-primary font-medium",
                            "before:duration-300 before:w-0 before:h-1 before:bg-primary before:absolute before:bottom-0 hover:before:w-full"
                        )}
                    >
                        {label}
                    </a>
                </li>
            )}

            <li>
                <div class="flex items-center gap-2">
                    <a href="#" target="_blank" class="duration-300 px-2 py-4 hover:text-primary">
                        <IconDiscord />      
                    </a>  
                    <a href="#" target="_blank" class="duration-300 px-2 py-4 hover:text-primary">
                        <IconGithub />      
                    </a>  
                    <a href="#" target="_blank" class="duration-300 px-2 py-4 hover:text-primary">
                        <IconInstagram />      
                    </a>  
                </div>
            </li>
        </ul>
    </nav>
</header>


